services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    restart: unless-stopped
    networks:
      - coolify
      - redbd
networks:
  coolify:
    external: true
  redbd:
    external: true
